<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup</h1>
    <form method="post" action="/signup">
        <input type="checkbox" name="role" id="">Signin As Seller<br>
        <input type="text" name="name" id=""><br>
        <input type="email" name="email" id=""><br>
        <input type="password" name="password" id=""><br>
        <input type="submit" value="click">
        <a href="/login">go to login</a>
    </form>
</body>
</html>